/* Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:root {
    --header-height: 3.5rem;

    /*========== Font and typography ==============*/
    --body-font: "Permanent Marker", cursive;
    --biggest-font-size: 1.5rem;
    --normal-font-size: 1rem;

    /* Font weight */
    --font-weight-regular: 400;
    --font-weight-bold: 700;

    /* z-index */
    --z-tooltip: 10;
    --z-fixed: 100;

    /* nav and header colors */
    --header-background-color: black;
    --logo-color: white;
    --close-toggle-color: white;
    --menu-color: black;
    --link-color: white;
    --link-underline-color: white;

    /* body colors */
    --body-background-color: white;
}

/*========== Responsive Typography =============*/
/* screen = Bildschirmgeräte */
@media screen and (min-width: 1150px){
    :root{
        --biggest-font-size: 6.5rem;
        --big-font-size: 2rem;
        --normal-font-size: 1rem;
    }
}
@media screen and (max-width: 500px){
    :root{
        --biggest-font-size: 2rem;
        --big-font-size: 2rem;
        --normal-font-size: 1.5rem;
    }
}

/*============== Base ==============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-background-color);
    color: black;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

image {
    display: block;
    max-width: 100%;
    height: auto;
}

html {
    scroll-behavior: smooth;
}

/*============ Reusable Css Classes ============*/
.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.main {
    overflow: hidden;
}

#hi{
    font-family: var(--body-font);
    color: blue;
    margin: 100px;
}

/*========= HEADER & NAV =========*/
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--header-background-color);
    z-index: var(--z-fixed);
}

.nav {
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLogo {
    color: var(--logo-color);
    font-weight: var(--font-weight-regular);
}

.navClose,
.navToggle{
    display: flex;
    color: var(--close-toggle-color);
    font-size: 1.5rem;
    cursor: pointer;
}


/*=========== Navigation for mobile devices =============*/
@media screen and (max-width: 1150px){
    .navMenu{
        position: fixed;
        left: -100%;
        top: 0;
        background-color: var(--menu-color);
        width: 100%;
        height: 100%;
        padding: 6rem 3.5rem 4.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: left .4s;
    }
    .navItem{
        transform: translate(-150px);
        visibility: hidden;
        transition: transform .4s ease-out, visibility .4s;
    }

    .navItem:nth-child(1){
        transition-delay: .1s;
    }
    .navItem:nth-child(2){
        transition-delay: .2s;
    }
    .navItem:nth-child(3){
        transition-delay: .3s;
    }
    .navItem:nth-child(4){
        transition-delay: .4s;
    }
    .navItem:nth-child(5){
        transition-delay: .5s;
    }
}

.navList{
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}

.navLink{
    position: relative;
    color: var(--link-color);
    font-size: var(--biggest-font-size);
    font-weight: var(--font-weight-regular);
    display: inline-flex;
    align-items: center;
    transition: opacity .4s;
}

.navLink i {
    font-size: 2rem;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s, visibility .4s;
}

.navLink span{
    position: relative;
    transition: margin .4s;
}

.navLink span::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background-color: var(--link-underline-color);
    transition: width .4s ease-out;
}

/*========= Animation link on hover ==========*/
.navLink:hover span{
    margin-left: 2.5rem;
}

.navLink:hover i{
    opacity: 1;
    visibility: visible;
}

.navLink:hover span::after{
    width: 100%;
}

/* other Links fade when hover over one */
.navList:has(.navLink:hover) .navLink:not(:hover){
    opacity: .4;
}

.navClose{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}

/* show Menu */
.show-menu{
    left: 0;
}

/* animation link when displaying menu */
.show-menu .navItem{
    visibility: visible;
    transform: translateX(0);
}

/* for large devices */
@media screen and (min-width: 1150px){
    .container{
        margin-inline: auto;
    }
    .nav{
        height: calc(var(--header-height) + 2rem);
    }
    .navToggle,
    .navClose{
        display: none;
    }
    .navLink{
        font-size: var(--normal-font-size);
    }

    .navLink i {
        font-size: 1.5rem;
    }
    .navList{
        flex-direction: row;
        column-gap: 3.5rem;
    }

    .navMenu{
        display: flex;
        align-items: center;
        column-gap: 3.5rem;
    }
}

