
.main-container{
    font-family: var(--body-font);
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

section{
    height: 100vh;
    display: grid;
    justify-content: center;
    padding-top: 7rem;
    scroll-snap-align: start;
    grid-template-rows: max-content 320px;
    row-gap: 2rem;
}
#home-data{
    text-align: center;
    padding-top: 5rem;
}

#headline{
    font-size: 3rem;
    color: white;
    font-family: "Arial Black";
}
#home-text{
    padding-top: 7rem;
    width: 100%;
    margin: 0 auto;
    height: 400px;
}

.home-img-wolle-1,
.home-img-book-2,
.home-img-piano-3,
.home-img-paint-4{
    width: 150px;
    height: auto;
    position: absolute;
}

.home-images{
    position: relative;
}

.home-images [class*=blob] {
    background-color: white;
    position: absolute;
}

#home-page{
    background: linear-gradient(to top, mediumpurple, lightpink );
    overflow: hidden;
}

#about-me-page{
    background: linear-gradient(to top, lightblue, mediumpurple );
}

#uni-projects-page{
    background: linear-gradient(to top, lightgoldenrodyellow, lightblue );
}

#interests-page{
    background: linear-gradient(to top, darkseagreen, lightgoldenrodyellow );
}

#contact-page{
    height: 50vh;
    background: linear-gradient(to top, lightgray, darkseagreen );
}
