
.main-container{
    font-family: var(--body-font);
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

section{
    height: 100vh;
    display: grid;
    justify-content: center;
    padding-top: 7rem;
    scroll-snap-align: start;
    grid-template-rows: max-content 320px;
    row-gap: 2rem;
}
#home-data{
    text-align: center;
}
h1{
    display: inline-block;
    color: transparent;
    background: linear-gradient(to right, purple, blue);
    background-clip: text;
    -webkit-background-clip: text; /* Für Safari */

    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    /* -webkit-text-stroke: 0.01px white; /* Weiße Umrandung */
}
img{
    width: 200px;
    height: auto;
}

.home-images{
    position: relative;
}

.home-images [class*=blob] {
    background-color: white;
    position: absolute;
}
.home-images [class*=home-img] {
    position: absolute;
}

.blob-1{
    width: 150px;
    height: 180px;
    border-radius: 38% 62% 66% 34%/60% 41% 59% 40%  ;
    right: 7rem;
    bottom: -10rem;
    animation: blob-1 4s linear infinite;
}

.blob-2{
    width: 180px;
    height: 190px;
    border-radius: 61% 39% 67% 33% / 35% 63% 37% 65% ;
    right: -13rem;
    bottom: -20rem;
    animation: blob-2 4s linear infinite;
}

.blob-3{
    width: 140px;
    height: 180px;
    border-radius: 31% 69% 50% 50% / 70% 63% 37% 30% ;
    right: 7rem;
    top: -3rem;
    animation: blob-3 4s linear infinite;
}

.blob-4{
    width: 210px;
    height: 190px;
    border-radius: 31% 69% 50% 50% / 70% 63% 37% 30% ;
    right: -12rem;
    bottom: 2rem;
    animation: blob-4 4s linear infinite;
}

/*  animating blobs  */
@keyframes blob-1 {
    0%, 100%{
        border-radius: 38% 62% 66% 34%/60% 41% 59% 40%  ;
    }
    33%{
        border-radius: 77% 23% 50% 50% / 53% 63% 37% 47% ;
    }
    66%{
        border-radius: 85% 15% 79% 21% / 33% 84% 16% 67% ;
    }
}

@keyframes blob-2 {
    0%, 100%{
        border-radius: 61% 39% 67% 33% / 35% 63% 37% 65% ;
    }
    33%{
        border-radius: 77% 23% 50% 50% / 53% 63% 37% 47% ;
    }
    66%{
        border-radius: 85% 15% 79% 21% / 33% 84% 16% 67% ;
    }
}

@keyframes blob-3 {
    0%, 100%{
        border-radius: 31% 69% 50% 50% / 70% 63% 37% 30% ;
    }
    33%{
        border-radius: 77% 23% 50% 50% / 53% 63% 37% 47% ;
    }
    66%{
        border-radius: 85% 15% 79% 21% / 33% 84% 16% 67% ;
    }
}

@keyframes blob-4 {
    0%, 100%{
        border-radius: 31% 69% 50% 50% / 70% 63% 37% 30% ;
    }
    33%{
        border-radius: 77% 23% 50% 50% / 53% 63% 37% 47% ;
    }
    66%{
        border-radius: 85% 15% 79% 21% / 33% 84% 16% 67% ;
    }
}

#home-page{
    background-color: lightpink;
}

#about-me-page{
    background-color: lightblue;
}
#uni-projects-page{

}

#interests-page{
    background-color: lightgreen;
}

#contact-page{
    height: 50vh;
}
