#uni-projects-page{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
}
.slider-container {
    user-select: none;
    width: 100%;
    max-width: 800px;
    height: 500px;
    position: relative;
    display: flex;

    justify-content: center; /* Horizontale Zentrierung des gesamten Containers */
    align-items: center; /* Vertikale Zentrierung */
    margin: 0 auto;
}

.items{
    display: block;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 1rem;
    border-radius: 12px;
    text-align: center;
    border: 2px solid transparent;
    transition: 0.2s ease;
}

.items:hover{
    border-color: black;
}

.swiper-button-prev, .swiper-button-next {
    color: black;
    font-size: 2rem;
    z-index: 10; /* Ensure they appear above the slides */
}

#productDimensionsBild{
    rotate: 90deg;
}

.uni-project-images {
    border-radius: 10px;
    background-color: lightgray;
    max-width: 100%;
    max-height: 70%;
    object-fit: contain; /* Behaltet das Seitenverhältnis bei, ohne das Bild zu beschneiden */
    display: block;
    margin: 0 auto;
}

/* TO DO: media queries and design */

#uni-projects-headline{
    font-size: 3rem;
    font-family: "Arial Black";
    color: white;
}

.items-text h1 {
    font-size: 2rem;
    font-family: "Arial Black";
    display: inline-block;
    color: black;
    background-color: lightblue;
    border-radius: 8px;
    border: 2px solid red; /* Temporärer Rahmen zur Diagnose */
    z-index: 2;
    padding: 10px 20px;
}

@media screen and (min-width: 1500px){
    .slider-container{
        max-width: 1500px;
    }

}