p{
    font-family: Arial;
}

.video-title{
    font-size: 18px;
    font-weight: bold;
    width: 300px;
    line-height: 24px;
}

.description{
    line-height: 20px;
    width: 300px;
}

.apple-Text{
    color: white;
    background-color: red;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    width: 600px;
}

#Shop:hover{
    text-decoration: underline;
    cursor: pointer;
}