:root {
    --purple: #d4c4df;
    --blue:  #C4DFDF;
}
*{
    margin: 0px;
    padding: 0px;
    font-family: Chilanka;
    scroll-behavior: smooth;

}

.Link{
    color: white;
}
.Link:hover {
    color: black;
}
.LinkProductDimensions{
    color: black;
}
.LinkProductDimensions:hover{
    color: var(--purple);
}
.InfosÜberMich{
    color: black;
}
.InfosÜberMich:hover{
    color: white;
}

#Welcometext, #MeineProjekte{
    height: 500px;
    height: fit-content;
    padding: 5px;
    text-align: center;
}

.ProjektButtons{
    border: 3px solid var(--purple);
    background-color: white;
    color: var(--purple);
    transition: background-color 500ms, color 500ms;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 30px;
    font-size: large;
    font-weight: bold;
}
.ProjektButtonshover{
    background-color: var(--purple);
    color: white;
}

#Navigationsleiste{
    background-color: #dedede;
    height: 25px;
    padding: 10px;
    border-bottom: 1px solid black;
}

#Welcome{
    display: flex;
    border-bottom: 1px solid black;
}

#Generative\ Gestaltung{
    background-color:  var(--purple);
    height: 300px;
    padding: 50px;
    text-align: center;
    border-bottom: 1px solid black;
    color: white;
    display: flex;
}
#generativeGestaltungBild{
    height: 100%;
}

#Product\ Dimensions{
    background-color: white;
    height: 300px;
    padding: 50px;
    text-align: center;
    border-bottom: 1px solid black;
    display: flex;
}
#productDimensionsBild{
    height: 100%;
}

#Essentials1{
    background-color: #d4c4df;
    height: 300px;
    padding: 50px;
    text-align: center;
    border-bottom: 1px solid black;
    color: white;
    display: flex;
}

#Kontaktinfo{
    display: flex;
    height: 40px;
    background-color: grey;
    color: white;
    justify-content: center;
    height: fit-content;
}
.hä{
    margin: 20px;
}

#ProductDimensionsSeite{
    margin: 50px;
    padding: 50px;
    height: fit-content;
    display: flex;
    justify-content: center;
    background-color: var(--purple);
}